@use "./partials/variables";
@use "./partials/nav";
@use "./partials/footer";
@use "./partials/home";


body{
    margin: 0;
    font-family: variables.$main-font;
    color: variables.$secondary-color;
}