@use "./variables";

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: variables.$main-color;
    border-bottom: 3px solid variables.$secondary-color;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 21px -9px rgba(0,0,0,0.86);
    a{
        text-decoration: none;
        color: variables.$secondary-color;
        font-size: 20px;
        &:hover{
            color: variables.$tertiary-color;
        }
    }
    .nav-right-section{
        gap: 20px;
        display: flex;
    }
}